@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif;
    background-image: url(image.jpg);
    background-position: center;
    background-size: 100%;
    padding: 15%;
}

#todo-container {
    width: 500px;
    margin: 0 auto;
    background-color: #4e7392;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.535);
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#todo-list li input[type="checkbox"] {
    margin-right: 10px;
}

#todo-list li label {
    flex-grow: 1;
}

#todo-list li label.completed {
    text-decoration: line-through;
    color: #a3d5dc;
}

#add-task-form {
    display: flex;
    margin-top: 20px;
}

#new-task {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #324955;
    border-radius: 5px;
}

#add-task-form button {
    padding: 10px 20px;
    background-color: #0a063b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
